.album-item {
    max-width: 200px;
    width: 100%;
    position: relative;
}

.ghostalbum {
    max-width: 200px;
    width: 100%;
}

.album-item img {
    width: 100%;
}

.alabel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
}
