.album-item {
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    margin: 8px;
}

.ghostalbum {
    max-width: 300px;
    width: 100%;
}

.thumbnail {
    width: 300px;
    height: 300px;
}

.album-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.alabel {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.alabel h3 {
    color: salmon;
    grid-column: 1 / -1;
    margin: 8px;
}

.alabel .label {
    color: gray;
    margin: 4px;
}

.alabel .value {
    margin: 8px;
    grid-column: 1 / -1;
}
