.controlblock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.controls {
    display: flex;
    flex-direction: row;
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1px;
}
