.albumview {
    background-color: #e0e0e0;
    text-align: center;
    margin: 0;
}

.formdiv {
    border: solid 2px gray;
    border-radius: 4px;
}

.albumcontrols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: left;
    align-items: center;
}

.infoblock {
    background-color: gray;
}

.albuminfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: left;
    align-items: center;
}

.albuminfo h3 {
    margin: 0;
    margin-left: 1rem;
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*margin-top: 1rem*/

    margin-top: 1rem;
}
