.infoblock {
    background-color: gray;
    padding: 8px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.info h2 {
    margin: 0 1rem;
}

.info p {
    margin: 0 1rem;
}

.controlblock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.controls {
    display: flex;
    flex-direction: row;
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1px;
}
