.albuminfo {
    background-color: rgb(200, 200, 200);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    border-radius: 4px;
    margin: 2px;
}

.initem {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.initem .label {
    text-align: right;
    color: grey;
    margin: 0.5rem 1rem;
}

.initem .value {
    margin: 0.5rem 1rem;
}

.controlblock {
    background-color: rgb(200, 200, 200);
    display: flex; /* horizontal flex layout */
    align-items: center; /* vertically center items */
    gap: 0.75rem; /* space between controls */
    padding: 6px;
    border-radius: 4px;
    margin: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.controls button {
    margin-left: 8px;
}

.photo-list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 5px;
}
