.file-item {
    max-width: 200px;
    width: 100%;
    position: relative;
}

.ghostphoto {
    max-width: 200px;
    width: 100%;
}

.file-item img {
    width: 100%;
}

.fileinfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.file-item:hover .fileinfo {
    opacity: 1;
}
