.file-item {
    /*width: 200px;
    height: 200px;*/
    height: 250px;
    position: relative;
    overflow: hidden;

    margin: 1px;
}

.file-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fileinfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 1rem;
    box-sizing: border-box;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.file-item:hover .fileinfo {
    opacity: 1;
}

.fileinfo .label {
    color: gray;
    margin: 0;
}

.fileinfo .value {
    color: white;
    margin: 8px;
    margin-bottom: 12px;
}
