.holder {
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 10px 0;
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}