.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/

    background-color: #ccc;
    /*padding: 1rem;*/
    text-align: center;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    margin: 1rem;
}

nav p {
    margin: 1rem;
}
