#albumList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 1rem;
}

.infoblock {
    background-color: gray;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}
