#albumList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1px;
    margin: 1rem;
}

.albumtools {
    background-color: rgb(200, 200, 200);
    /*background-color: green;*/
    color: black;
    padding: 6px;
}

.albumtools input {
    margin: 0.25rem 0rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(65, 65, 65);
}

.albumtools input[type="text" i] {
    padding: 4px;
}
