.msgDiv {
	border-radius: 0.5rem;
	background-color: blue;
	color: white;
	padding: 0.5rem;
	margin: 0.5rem;
}

.listview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.demo {
	display: none;
	background-color: rgb(58, 62, 92);
}

.abname {
	font-family: Roboto;
	font-size:1.2rem;
}

.abcode {
	font-family: Ubuntu Sans Mono;
	font-size: .8rem;
}


