

#landingArea {
    font-family: Roboto;
    color: white;
}


.window {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
}

#win1 {
    background-image: url(../images/cover3.webp);
    /* background-position-y: -40vh; */
}

#win2 {
    background-image: url(../images/cover5.webp);
}

#win3 {
    background-image: url(../images/cover2.webp);
    /* background-position-y: -40vh; */
}

#win4 {
    background-image: url(../images/cover1.webp);
}

#win5 {
    background-image: url(../images/cover4.webp);
    background-position-y: 10vh;
}


#opener {
    margin: 7rem;
    text-align: center;

    font-size: 1.5rem;
}

#opener > h1 {
    font-weight: 300;
    font-size: 3rem;
}


.info {
    text-align: center;
    margin: 4rem;
}

.info h2 {
    font-size: 3rem;
    font-weight: 300;
    color: gainsboro;
}

.info h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

.info p {
    font-weight: 400;
}
.info > ul {
    width: 70%;
    margin: 0 auto;
    
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.info li {
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
    min-height: 7rem;
    align-content: center;
    background-color: #313131;
}

.info .highlight {
    background-color: var(--color1);
    font-size: 1.1rem;
    border: white 1px solid;
}


.warning > div {
    max-width: 70%;
    margin: 3rem auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--color2);
    
    color: #f9f9f9;
    font-size: 1.1rem;
    border-radius: 10px;
}