
.hello_block {
    text-align: center;
    margin-top: 100px;
}

.container {
    margin-left: 5rem;
}

.cover_image {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cover_image img {
    max-width: 70vw;
}

