.msgDiv {
	border-radius: 0.5rem;
	background-color: blue;
	color: white;
	padding: 0.5rem;
	margin: 0.5rem;
}

.sectionDiv {
	border-radius: 0.5rem;
	background-color: rgb(189, 189, 189);
	color: black;
	padding: 0.5rem;
	margin: 0.5rem;
}
