.mains {
    display: grid;
    grid-template-columns: 360px 1fr;
    /* display: flex;
    flex-direction: row; */
    overflow-x: auto;
}

.mainsection {
    height: calc(100svh - 60px);
    /* min-width: 400px; */

    display: flex;
    flex-direction: column;
}

.itemlist {
    flex-grow: 1;
    overflow: auto;
}

.listitem {
    border-top: 1px solid var(--user_color);
}

.listitem p {
    margin: 0;
}

button#send_message_button:focus {
    background-color: #21b86c;
}

button#send_message_button:hover {
    background-color: #21b86c;
}

button#delete_folder_button:focus {
    background-color: #dd5c5c;
}

button#delete_folder_button:hover {
    background-color: #dd5c5c;
}

.folder.sample, .listitem.node.sample {
    display: none;
}


/* BROWSER ITEMS -------------------------------------------------- */

#browser {
    background-color: var(--browser_back_color);
    display: flex;
    flex-direction: column;
}



.folder {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: var(--list_back_color);
    padding: .5rem;
    transition: background-color 0.3s;
}

.folder .namediv {
    display: flex;
    flex-direction: row;
}

.folder .members {
    justify-self: right;
    margin-right: 1rem;
    font-size: 13px;
    color: var(--user_color);
}

.folder.selected {
    background-color: var(--selected_color);
}


#group_editor {
    background-color: var(--selected_color);
}

.folder.subfolder {
    border-radius: 10px;
}

.folder .unread_count {
    margin-left: 1rem;
    opacity: 0;
}

.folder.unread .unread_count{
    opacity: 1;
    font-weight: bold;
}

/* VIEWER ITEMS -------------------------------------------------- */


#viewer {
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--user_color);
}

#viewheader {
    margin: 0 1rem;
    
}

#new_message_line {
    min-height: 66px;
}

#nodelist {
    background-color: #535356;
    color: white;
}

.listitem.node {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    
    background-color: var(--list_back_color);
    border: 1px solid var(--user_color);
    color: black;

    margin: 1px 50px 1px 5px;
    
    padding: 10px;
    border-radius: 10px;
}

.listitem.node > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.node.sent_message {
    background-color: var(--sent_color);
    margin: 1px 5px 1px 50px;
}

.node .content {
    grid-column-start: 1;
    grid-column-end: 3;
}

.node .created_on {
    justify-self: right;
    font-size: 13px;
    color: var(--user_color)
}

.node .members {
    font-size: 13px;
    color: var(--user_color)
}

.node.unread {
    background-color: var(--unread_color);
}

.node.subgroup {
    margin: 10px 75px 10px 75px;
    background-color: var(--nodefolder_color);
}



@media screen and (max-width: 800px)
{
    .mains {
        grid-template-columns: 100vw 100vw;
    }
}