{% extends "base.html" %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" /> -->
<link rel="stylesheet" href="{% static 'css/browse.css' %}" />
{% endblock %} 


{% block content %}

<form action="POST">
	{% csrf_token %}
</form>


<div id="mainArea">
	<div id="shotArea" class="">
		<button id="showabsButton" class="btn">Back to Albums</button>
		<div id="abinfo" class="sectionDiv">
			<p class="label">name</p>
			<p class="abname">Name</p>

			<p class="label">code</p>
			<p class="abcode">Code</p>

			<p class="label">user</p>
			<p class="abuser">User</p>

			<p class="label">created</p>
			<p class="abdate">Created</p>

			{% if user.is_authenticated %}
			<button id="absubButton" class="btn">Subscribe</button>
			<button id="abremButton" class="btn">Remove</button>
			{% endif %}

			{% if user.is_authenticated %}
			{% endif %}
		</div>

		{% if user.is_authenticated %}
		<div id="addArea" class="sectionDiv">
			<p>Add Photos : </p>

			<input type="text" id="imdesc" placeholder="Description (needed)">
			<input type="file" id="imfile" accept="image/*" multiple>
		</div>
		{% endif %}

		<div id="shotList" class="listview">
			<div class="shot demo">
				<img src="{% static 'images/blankimage.png' %}" alt="blank" class="shimage">
				<div class="shotinfo">

					<p class="shdesc">Description</p>
					<p class="label">description</p>
					
					<p class="shuser">User</p>
					<p class="label">user</p>

					<p class="shdate">Created</p>
					<p class="label">date </p>
					<p class="shid demo">image ID</p>
				</div>
				<button class="shremove btn">Remove</button>
			</div>
		</div>
	</div>

	<div id="bigArea" class="sectionDiva">
		<div id="bigimdiv">
			<img src="{% static 'images/blankimage.png' %}" alt="blank" id="bigImage">
			<p id="bigid" class="demo"></p>
			<div id="bigButtons">
				<button id="bigCloseButton" class="btn">Close</button>
				<button id="prevButton" class="btn">Prev</button>
				<button id="nextButton" class="btn">Next</button>
			</div>
		</div>
	</div>

	
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/browse.js' %}"></script>

{% endblock %}
