{% extends "base.html" %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
{% endblock %} 


{% block content %}



<div id="mainArea">
    <div id="landingArea">
        
        <div id="opener">
            <h1>Because we don't all have to take the picture.</h1>
            <p>partyShots is a photo sharing platform that allows you to upload and share photos with friends and family.</p>
            <p>It's easy to use and free to sign up.</p>
        </div>
        
        <div class="window" id="win1"></div>
        
        <div class="info">
            <h2>How it Works</h2>
            <ul>
                <li>
                    <h3>
                        1. Create an account
                    </h3>
                    <p>It's simple and free.</p>
                </li>
                <li>
                    <h3>
                        2. Create an album
                    </h3>
                    <p>They just need a name</p>
                </li>
                <li>
                    <h3>
                        3. Upload photos to the album
                    </h3>
                    <p>Just enter a description and select the files</p>
                </li>
                <li>
                    <h3>
                        4. Share the album code with friends and family
                    </h3>
                    <p>hint: Albums can also be found by usernames</p>
                </li>
                <li class="highlight">
                    <h3>
                        5. Other people can add photos to the album
                    </h3>
                    <p>Anyone who is signed in can upload to any album</p>
                    <p>You can remove photos from any album you created</p>
                </li>
                <li>
                    <h3>
                        6. View and download photos from the album
                    </h3>
                </li>
            </ul>
        </div>

        <div class="window" id="win2"></div>

        <div class="warning">
            <div>
                <h2>Important Information</h2>
                <p>All images are <strong>openly public</strong> to anyone with the album code, the URL of the album, or a username.</p>
                <p>There is no assumption of privacy.</p>
                
            </div>
        </div>

        <div class="window" id="win3"></div>
        <div class="window" id="win4"></div>
        

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>

{% endblock %}
