{% load static %} 
{% url 'home' as home_url %} 
{% url 'account_login' as login_url %} 
{% url 'account_signup' as signup_url %} 
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">
	<head>
		<title>partyShots</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">


		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

		{% block head %} 
		{% endblock head %}
	</head>

	<body>
		<div class="topbar">
			<a class="logo" href="{% url 'home' %}">partyShots</a>

			<div>
				<input type="text" id="searchLine" placeholder="Album Code">
				<button id="searchButton">Go</button>
			</div>

			{% if user.is_authenticated %}
			<ul id="toplist">
				<li>
					{{user.username}}
				</li>
				<li class="nav-item">
					<a
						class="nav-link {% if request.path == logout_url %}active{% endif %}"
						aria-current="page"
						href="{% url 'account_logout' %}"
						>Logout</a
					>
				</li>
			</ul>
			{% else %}
			<ul>
				<li class="nav-item">
					<a
						class="nav-link {% if request.path == signup_url %}active{% endif %}"
						aria-current="page"
						href="{% url 'account_signup' %}"
						>Register</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link {% if request.path == login_url %}active{% endif %}"
						aria-current="page"
						href="{% url 'account_login' %}"
						>Login</a
					>
				</li>
			</ul>
			{% endif %}
		</div>

		{% block content %} 
		{% endblock content %}
	</body>
</html>
