{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>partyShots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">


    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div>
        <a class="logo" href="{% url 'home' %}">partyShots</a>
        
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}
    </div>
    <hr>
    
    {% block content %}
    {% endblock content %}
</body>

</html>

