{% extends "base.html" %}
{% load static %}


{% block content %}

    <form action="POST">
        {% csrf_token %}
        <label for="event_name"><b>Event Name</b></label>
        <input id="eventNameLine" type="text" placeholder="Enter Event Name" name="event_name" required>
        <button id="findButton">find</button>
    </form>
    <div>
        <p id="msgline">msg</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/chooser.js' %}"></script>

{% endblock %}

