{% extends "base.html" %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 


{% block content %}

<form action="POST">
	{% csrf_token %}
</form>

<div id="mainArea">
	{% if user.is_authenticated %}
	<div class="sectionDiv vertical" id="createEventDiv">
		<h2>Create New Event</h2>
		<input id="nameLine" type="text" placeholder="Event Name">
		<button id="randomizeNameButton">Randomize Name</button>
		<input id="descriptionLine" type="text" placeholder="Description">
		<button id="submitButton">Submit</button>
	</div>
	

	<div class="sectionDiv" id="eventList">	
		<div class="eventDiv demo">
			<img src="{% static 'images/blankimage.png' %}" alt="blank">
			<p class="nameLabel">Name</p>
			<p class="descriptionLabel">Description</p>
			<p class="ownerLabel">Owner</p>
			<p class="createdLabel">Created</p>
		</div>
	</div>
	{% endif %}
	
	
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
