{% extends "base.html" %}
{% load static %}


{% block content %}
    <div>
        <ul>
            <li>
                <a href="{% url 'create' %}">Create New</a>
            </li>
            <li>
                <a href="{% url 'chooser' %}">View Existing</a>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
{% endblock %}

